//fonts
$poppins : 'Poppins', sans-serif;
$dosis : 'Dosis', sans-serif;
$lobster : 'Lobster', sans-serif;
$lato : 'Lato', sans-serif;

//fonts_weight
$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;

//fonts-size
$title : 3em;
$title_tablette : 2.5em;

//imgs
$wave : '../img/wave.svg';
$weare_background : '../img/background-we-are.png';
$service_background : '../img/background-service.png';
$footer : '../img/footer.png';

//colors
$grey : #42495B;
$light_grey : #7A839E;
$purple : #7E76F9;
$light_purple : #7E76F9;
$flash_blue : #1000FF;
$dark_white : #F6F7FB;

//paddings
$padding_section: 120px;
$padding_section_tablette: 200px;
$padding_section_mobile: 220px;
$buttons : 10px 20px;

//margins
$footer_espace_text: 15px;
$footer_espace_title: 30px;
$footer_espace_text_tablette: 5px;
$footer_espace_title_tablette: 10px;

//width
$section_width : 80%;
$section_width_tablette : 90%;

//border radius
$border_radius_card : 20px;

